/* You can add global styles to this file, and also import other style files */

.light-beige {
    color: #F7EFD4;
}

.bg-light-beige {
    background-color: #F7EFD4;
}

.beige {
    color: #FADDAF;
}

.bg-beige {
    background-color: #FADDAF;
}

.orange {
    color: #EB712F;
}

.bg-orange {
    background-color: #EB712F;
}

.dark-orange {
    color: #91371B;
}
.bg-dark-orange {
    background-color: #91371B;
}
.border-dark-orange {
    border-color: #91371B;
}
.brown {
    color: #472C25;
}
.bg-brown {
    background-color: #472C25;
}

.dark-beige {
    color: #D4C2B2;
}

.bg-dark-beige {
    background-color: #D4C2B2;
}

.vintage {
    border-style: outset;
    border-width: 5px;
    background-color: lightgray;
    border-color: grey;
}

.vintage:active {
    border-style: inset;
}

.vintage:disabled {
    background-color: darkgray;
    border-color: grey;
    cursor: not-allowed;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.cabin {
    font-family: 'Cabin Condensed', sans-serif;
}

.box-shadow {
    box-shadow: 5px 5px #91371B;
    border: 2px solid #91371B;
}
.hidden {
    display: none;
}

@media (min-width: 600px) {
    .vintage {
        border-style: outset;
        font-size: 3rem;
        border-width: 15px;
        background-color: lightgray;
        border-color: grey;
    }
    
    .vintage:active {
        border-style: inset;
    }
    
    .vintage:disabled {
        background-color: darkgray;
        border-color: grey;
        cursor: not-allowed;
    }
    
    .desktop-header {
        width: 60%;
        padding: 1.5em;
        font-size: 4rem;
    }
    
    .box-shadow {
        box-shadow: 12px 12px #91371B;
        border: 5px solid #91371B;
    }
}

/* .chicken {
    background-image: url(./assets/cooked_chicken.png);
    background-color: #D4C2B2;
} */

/*
Edit thebackground-image html asset to repeat by the desired size.
*/
/* .chicken {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35"><image width="29" height="24" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAYCAMAAAAxgAaOAAAAS1BMVEUAAABIKAFIKAFYMgFYMgFnPAFnPAFvQQR4RwR4RwR4RwRrZmN1bmt5c259eHV9eHWBTQSKUwSKUwSSWAeGf32IgX6Nh4OTjIkAAAB6GLB9AAAAGXRSTlP///////////////////////////////8AATQKtwAAAOVJREFUKFNt0YGugyAMBdBrmgaS6dKG7T3//0vXCzhQ1xiJHCm0YL8E0IbpPeH65BTq+67P94od2/uX4vF6xRS2v7sCoqaxFOv/TcNyJqqsm+CkgKaOMebzWiyxkBiaL4qGGagp7KRYhJYkItQsT91omFRF4pFkziRdW9akiaFxcLe8yIJDeZ66L7NrLsbvqKmqmDS02DEaQuVGLbuwQqvhFomLWyuq1qc0b2HqXkr9kxqYBgZTOVIHljrJ6cibaklxLQNrdO+9ihObDSzesw6dsKf/dhIXLQ4cl0P1Wb909PkU+xQfHbAoB93NWogAAAAASUVORK5CYII=" /></svg>');
    background-position: left center;
}

.chicken::after {
    opacity: 0.5;
} */